/* global */
/* * {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
} */

/* end of global */
/* Header */

.top-menu {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color: #191919;
}

.left-icons {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    padding-top: 6px;
    padding-left: 230px;
    overflow: visible !important;
}

.left-icons i {
    color: #707070;
    font-size: 15px;
}

.right-icons {
    display: flex;
    align-items: center;
    margin-left: 785px;
    margin-top: 4px;
}

.right-icons i {
    opacity: 0.380;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    margin-top: -5px;
    margin-left: -1px;
}

.right-icons span {
    font-size: 14.4px;
    letter-spacing: 1.4px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat';
    margin-left: 8px !important;
    padding-top: 2px;
}

.fa-facebook {
    margin-left: -30px !important;
}

.line {
    width: 1px;
    height: 26.7px;
    background-color: #b4b4b4;
    margin: 0px 18.9px;
    padding-top: -0.2px !important;
}

.fa-twitter {
    margin-left: 28.9px !important;
    margin-top: 2px;
}

.fa-pinterest-p {
    margin-left: 17.97999px !important;
}

.fa-vk {
    margin-left: 20px !important;
}

.fa-google-plus {
    margin-left: 18px !important;
    font-size: 17.9px !important;
}

.fa-behance {
    margin-left: 16px !important;
    font-size: 18px !important;
}


.material-symbols-outlined {
    color: #707070;
    font-size: 19px !important;
    margin-left: 14px !important;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.fa-instagram {
    margin-left: 20px !important;
}

.header-name {
    font-size: 30px;
    letter-spacing: 2.6px;
    line-height: 37px;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-family: "Montserrat";
    margin-top: 24px;
  }
  

/* End of Header */