@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
}

body{
    overflow-x: hidden;
}


.content {
    justify-content: center;
    background-color: #191919;
    display: flex;
}

.header {
    align-items: center;
    width: 1170px;
    background-color: #191919;
    justify-content: space-between;
    display: flex;
    height: 40px;

}

.left-icons {
    font-size: 17px;
    color: #6c6c6c;
    display: flex;
    gap: 14.5px;
    margin-left: 2px;
    margin-top: 3px;
}

.left-icons a {
    color: #707070;
    outline: none;
    text-decoration: none;
}

.fa-pinterest-p {
    margin-left: -1px;
}

.fa-vk {
    margin-left: -1px;
}

.fa-google-plus {
    margin-left: -1px;
}

.fa-behance {
    margin-left: -2px;
}

.fa-dribbble {
    margin-left: -1px;
}

.fa-instagram {
    margin-left: -1px;
}

.right-icons a {
    color: #707070;
    outline: none;
    text-decoration: none;
}


.right-icons {
    margin-top: 2px;
    gap: 14px;
    color: #6c6c6c;
    display: flex;
    margin-left: -1px;
}

.account-circle {
    font-size: 19px;
}

.sign-in-icon {
    margin-bottom: 1px;
    margin-right: 1px;
    gap: 4px;
    display: flex;
    line-height: 23px;
}


.SIGN-IN {
    font-size: 12px;
}

.SIGN-IN span {
    position: relative;
    left: 1px;
}

.language-icon {
    font-size: 19px;
    margin-bottom: 2px;
}

.eng-icon {
    margin-left: 4px;
    margin-top: 3px;
    font-size: 12px;
}

.expand-more-icon {
    margin-left: 1px;
    font-size: 20px;
    margin-bottom: 1px;
    width: 11px;
}

.line {
    border-left: 1px solid #6c6c6c;
    height: 20px;
    margin-top: 3.2px;
}

.sign-in {
    margin-top: 3px;
}

.language {
    margin-top: 3px;
    display: flex;
    align-items: center;
}


.language-icon {
    margin-bottom: 2px;
    display: flex;
}

.expand-more {

    margin-top: -3px;
    font-size: 23px;

}

.main-header {
    background-image: url(/public/New\ Project.png);
    background-repeat: no-repeat;
    background-position: -370px;
    padding-bottom: 141px;
}


.navlist {
    width: 1170px;
    color: #ffffff;
    display: flex;
}

.header-heading-one {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    /* font-weight: bolder; */
    margin-top: -4px;
    margin-left: -35px;
    font-size: 43px;
}

.top-navigation {
    align-items: center;
    display: flex;
    justify-content: center;
}

.pasco {
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 1px;
    margin-top: 17px;
    margin-right: 55px;
    color: #ffffff;

}

.navbar {
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    position: relative;
    left: 79px;
    top: 15px;
    display: flex;
    font-weight: 600
}

.shop {
    margin-left: 2px;
}

.shop-expand {
    position: relative;
    left: 4px;
}

.home-txt {
    position: relative;
    left: 56px;
    top: 15px;
}

.home-expand {
    position: relative;
    left: 107px;
    top: -3px;
}

.components-expand {
    position: relative;
    left: 3px;
}

.feature-expand {
    position: relative;
    left: 4px;
}

.pages-expand {
    position: relative;
    left: 4px;
}

.left-icon-container li {
    float: left;
    margin: 10px 11px;
    height: 41px;
    display: grid;
}

.left-icon-container ul {
    float: right;

}

.right-icon-container {
    margin-left: 120px;
    gap: 10px;
    font-size: 19px;
    margin-top: 19px;
    display: flex;
}

.search {
    margin-top: 5px;
    margin-right: 3px;
}

.favorite-border {
    margin-top: 5px;
}

.shopping_cart {
    margin-top: 5px;
    margin-left: 2px;
}



.favorite-border {
    margin-top: 4x;
}

.read-more-button {
    cursor: pointer;
    margin-right: 43px;
    border-radius: 30px;
    background-color: #303f9f;
    font-size: 17px;
    font-weight: 400;
    padding-left: 7;
    letter-spacing: 1px;
    color: #ffffff;
    height: 46px;
    width: 170px;
    border: none;
    position: relative;
    top: 80px;
}

.header-content {
    text-align: center;
    padding: 40px;
}

.centeral-container {
    margin-left: 48px;
    display: grid;
    justify-items: center;
    margin-top: 182px;
}

.left-icon-container {
    margin-top: 1px;
    margin-left: 1px;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    display: flex;
}

.vertical-line-navbar {
    border-left: 2px solid #ffffff;
    height: 30px;
}

.right-icon-container .vertical-line-navbar {
    font-size: 20px;
}

.search-icon {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 5px;
}

.favourite-icon {
    margin-left: 13px;
    margin-right: 10px;
}

.shoppingcart-icon {
    font-size: 22px;
    margin-left: 14px;

}

.v1 {
    margin-top: 1px;
}

.v2 {
    margin-top: 1px;
}

.header-image {
    display: inline-block;
    width: 100%;
}

.inspiration-txt {
    margin-right: 42px;
    font-size: 21px;
    font-weight: 500;
    color: #bdbdbe;
    position: relative;
    top: 36px;
}

.header-heading {
    color: #ffffff;
    font-weight: 900;
    position: relative;
    top: 50px !important;
}


.header-heading-two {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: -2px;
    margin-top: -8px;
    font-size: 42px;
}

.user {
    margin-top: 126px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.user-henry {
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1.4px;
    font-weight: 700;
    justify-content: center;
    color: #fbfbfb;
    position: relative;
    top: 45px;
    left: 56px;
}


.card1-date-container {
    font-weight: 500;
    font-size: 13px;
    color: #908f90;
    display: flex;
    letter-spacing: .2px;
    justify-content: center;
    position: relative;
    top: 48px;
    left: -2px;
}

.card1-date-container span {
    position: relative;
    left: 10px;
}

.user-image {
    height: 55px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 31px;
}

.comments-container {
    color: #bebebe;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 80px;
    text-decoration: none;
    cursor: pointer;
}


.like {
    font-size: 17px;
}

.comment-icon {
    display: flex;
    font-size: 13px;
}

.like-icon {
    display: flex;
    font-size: 12px;
}

.comment-txt {
    position: relative;
    letter-spacing: -.3px;
    top: -1px;
    left: -14px;
    font-weight: bolder;
}

.comment-txt span {
    position: relative;
    left: 0px;
    top: 1px;
}

.comment-img {
    position: relative;
    left: -20px;
    top: -2px;
}

.comment-image {
    font-size: 17px;
}

.like-image {
    font-size: 17px;
    position: relative;
    left: 14px;
    /* top: -1px; */
    margin-right: 13px;
}

.like-image span{
    margin-top: -20px;
}


.like-image1{
    font-size: 17px;
    position: relative;
    left: 26px;
    top: -2px;
    margin-right: 13px;
}

.comment-image1{
    font-size: 17px;
    position: relative;
    top: 1px;
    left: 18px;
}

.like-txt {
    position: relative;
    left: 19px;
    font-weight: bolder;
}

.like-txt span {
    position: relative;
    left: 3px;
    letter-spacing: 1px;
}

.sort-blog-container {
    justify-content: space-around;
    display: flex;
    background-color: #ffffff;
    height: 60px;
    align-items: center;
}

.list-container {
    display: flex;
}

.centeral-container {
    margin-left: 48px;
    display: grid;
    justify-items: center;
    margin-top: 182px;
}

.sort-blog-container {
    justify-content: space-around;
    display: flex;
    background-color: #ffffff;
    height: 60px;
    align-items: center;
}

.list-container {
    display: flex;
}


.sort-blog-txt {
    margin-top: 2px;
    font-size: 11px;
    word-spacing: 3px;
    margin-left: 1px;
    font-weight: 700;
}

.colon {
    font-size: 18px;
    font-weight: 800;
    margin-right: 16px;

}

.inner-container {
    margin-bottom: 1px;
    width: 1170px;
    display: flex;
    align-items: center;
}


.all {
    font-size: 15px;
    color: #4859b8;
    border: 1px solid #727fc9;
    height: 30px;
    width: 80px;
    margin-left: 7px;
    margin-top: 2px;
    font-size: 12px;
    border-radius: 25px;
    padding: 4px;
}

.buttons {
    gap: 17px;
    display: flex;
}


.buttons button:not(:first-child) {
    color: #373737;
    border: none;
    height: 29px;
    padding: 9.3px 29px 14px 23px;
    font-size: 12px;
    border-radius: 25px;
    margin-top: 2px;
}

.horizontal-break {
    border: 2px solid #e6e6e6;
}

.body-container {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 865px auto;
}

.body-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
}

.card1 {
    display: inline;
}

.image1 {
    display: grid;
    align-content: center;
}

.image-10things {

    background-image: url(/public/blog-1.png);
    height: 421px;
    width: 820px;
}

.image_play {
    color: #ffffff;
    display: flex;
    margin-top: 180px;
    font-size: 60px;
    justify-content: center;
}

.image-activity {

    display: inline;
    color: #ffffff;
    font-size: 13px;

}

.caption {
    float: left;
    margin-top: 147.4px;
    margin-left: 17px;
}

.activity {
    float: right;
    display: flex;
    margin-top: 109px;
    margin-right: 20px;
}

.comments {
    display: flex;
    margin-right: 5px;
    margin-top: 39px;
    margin-left: 8px;
    align-items: center;
}

.comments span {
    padding-left: 12px;
}

.likes {
    align-items: center;
    display: flex;
    margin-top: 37px;
    font-weight: bold;
}

.likes span {
    margin-left: 10px;
}

.comment-image {
    font-size: 15px;
    margin-left: -2px;
}

.like-image {
    font-size: 16px;
}

.image1-caption-container {
    background-color: #ffffff;
    width: 820px;
    padding-bottom: 15px;
}

.boldheading-container {
    word-spacing: 3px;
    color: #191919;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 13px;
    font-weight: 700;
    margin-left: 20px;
}

.description-container {
    margin-left: 18px;
    margin-top: 9px;
    /* margin-bottom: 50px; */
    letter-spacing: 0.2px;
    line-height: 24px;
    margin-right: 30px;
    font-size: 15px;
    word-spacing: 1px;
}


.author-details {
    height: 75px;
    background-color: #ffffff;
    display: flex;
    padding-bottom: 15px;
}

.author-image {
    height: 55px;
    margin-top: 18px;
    margin-left: 20px;
}

.author-name {
    display: grid;
    margin-top: 6.4px;
}

.divider {
    border: 1px solid #e0e0e0;    
}

.blogs-divider{
    border: 1px solid #e0e0e0;
    margin-left: -70px;
}

.author-name .henry-container {
    color: #191919;
}

.author-name .henry-image1 {
    margin-top: 17px;
    margin-left: 8px;
    font-size: 15px;
}

.author-name .card1-date-container {
    margin-top: -61px;
    margin-left: 10px;
}

.right-body-container {
    background-color: white;
    margin-top: 27px;
    margin-left: 40px;
}

.card2 {
    margin-top: 20px;
    margin-left: -13px;
    display: flex;
    background-color: #ffffff;
    height: 165px;
}

.card2-blog-1 {
    background-image: url(/public/card2-image.png);
    width: 596px;
    height: 200px;
    background-repeat: no-repeat;
}

.card2-image-txt {
    display: inline;
    color: #ffffff;
    position: relative;
    top: 106px;
}

.card2-txt1 {
    float: left;
    margin-top: 26px;
    margin-left: 17px;
    font-size: 12px !important;
}

.card2-icon-align {
    display: flex;
    margin-top: 22px;
    margin-left: 158px;
}

.comments1 {
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.likes1 {
    align-items: center;
    display: flex;
    margin-top: 2px;
}


.card2-boldheading-container {
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 11px;
    font-weight: 900;
    margin-left: -53px;
}

.card2-description-container {
    margin-left: -54px;
    margin-top: 9px;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
}

.card2-author-details {
    display: flex;
    margin-left: -50px;
    margin-top: 11px;
    margin-bottom: 5px;
}

.card2-authordate {
    display: inline;
    margin-top: 3px;
}

.card2-authordate span:nth-child(2) {
    font-size: 11px;
    color: #908f90;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    margin-top: 8px;
}

.card2-authordate span:nth-child(1) {
    margin-left: 10px;
    color: #373737;
    font-weight: 500;
    font-size: 14px;
}

.dot-container {
    display: flex;
    position: relative;
    left: 354px;
    top: 13px;
}

.comments1 span {
    margin-left: 8px;
}

.likes1 span {
    margin-left: 2px;
}

.card3-blog-1 {
    background-image: url(/public/card3-image.png);
    width: 596px;
    height: 200px;
    background-repeat: no-repeat;
}

.card4-blog-1 {
    background-image: url(/public/card4-image.png);
    width: 596px;
    height: 200px;
    background-repeat: no-repeat;
}

/* Right Body Container styling */

.righthand-container {
    margin-top: 27px;
    width: 300px;
    background-color: #ffffff;
    left: 42px;
    flex: 1;
}

.searchbar {
    background-color: #f5f5f5;
    width: 260px;
    padding: 1px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    margin-top: -4px;
    justify-content: space-between;
    border-radius: 25px;
    border: 2px solid #ffffff;
    margin-bottom: 21px;
}

.searchbar-container {
    color: #989898;
    margin-top: 10px;
    margin-left: 18px;
}

.coloured-searchicon {
    color: #ffffff;
    background-color: #ff4081;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 25px;
}

.categories-container {
    margin-left: 10px;
    gap: 6.4px;
    font-size: 14px;
    margin-top: 26px;
    display: grid;
}

.categories {
    color: #3e51b5;
    font-size: 17px;
    font-weight: bolder;
}

.horizontal-divider {
    border: 1px solid #aec3ff;
}

.category-number {
    font-weight: 800;
    position: relative;
    left: -20px;
}

.category-block {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.category-list .divider{
    margin-top: 11px;
}

.play-cards-container {
    position: absolute;
    top: -47px;
    left: 7px;
    font-size: 48px;
    cursor: pointer;
}

/* Sliding Card image */

.sliding-blogs{
    display: flex;
    margin-top: 21px;
}

.sliding-card-img-props{
    background-repeat: no-repeat;
    width: 258px;
    height: 159px;
}


.sliding-card-image1{
    background-image: url(/public/hcard1-image.png);
}

.sliding-card-image2{
    background-image: url(/public/hcard2-image.png);
}

.sliding-card-image3{
    background-image: url(/public/hcard3-image.png);
}

.sliding-content-container{
    width: 257px;
    background-color: white;
    margin-bottom: 0px;
}

.sliding-card{
    display: flex;
    flex-direction: column;
}

.sliding-card:not(:first-child){
    margin-left: 22px;
}

.sliding-content-txt{
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.sliding-content-txt span:nth-child(1){
    font-weight: bolder;
    font-size:15px;
    margin-bottom: 8.2px;
    line-height: 23px;
}

.sliding-content-txt span:nth-child(2){
    color: #616161;
    line-height: 21px;
    font-size: 13px;
}

.sliding-divider{
    border: 1px solid #ededed;
    margin-top: 10px;
}

.sliding-divider-end{
    border: 1px solid #ededed;
    margin-top: -40px;
}

.card-user-image-prop{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

.card-user-image1{
    background-image: url(/public/bolg2-user.png);
}

.card-user-image2{
    background-image: url(/public/user-blog-2.png);
}
.card-user-image3{
    background-image: url(/public/user-2.png);
}
.card-user-details{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    margin-left: -14px;
}

.card-user-info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: -90px;
    margin-top: 8px;
}

.card-user-info span:nth-child(2){
    margin-top: 5px;
    font-size: 13px;
}

.fa-ellipsis-v{
    margin-top: 30px;
}

.card-play-btn{
    display: flex;
    justify-content: center;
}

.playicon{
    font-size: 48px;
    margin-top: 54px;
    color: white;
    cursor: pointer;
}

.sliding-image-txt-container{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 28px;
}

.sliding-icons{
    display: flex;
    color: white;
}

.sliding-image-heading{
    font-size: 12px;
    margin-top: 4px;
}